spring:
  application:
    name: coreflow

  main:
    allow-circular-references: true
    
  jpa:
    hibernate:
      ddl-auto: update  # create-drop, update, create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: karthikeyan.aas@gmail.com
    password: sbbh oaxk ngxl tfqy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 3600  # 1 hour in seconds
  refresh:
    expiration: 86400  # 24 hours in seconds

logging:
  level:
    com.app: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
    org.springframework.web: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/coreflow.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB
