spring:
  application:
    name: coreflow

  profiles:
    active: dev
    
  main:
    allow-circular-references: true
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  access-token-expiration: 3600000  # 1 hour
  refresh-token-expiration: 604800000  # 7 days

server:
  port: 8080